span 
{
    font-family: "Coiny", system-ui;
    color: #B03052;
}
nav  h1 
{
    font-size: 1.5rem;
    font-family: 'coiny', system-ui;
}
main 
{
    margin-left: 1.5em;
}
h2 
{
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 1.5rem;
}
p
{
    line-height: 2em;
    margin-bottom: 1em;
}
form 
{
    margin-top: 1.5em;
}
#opciones 
{
    width: 60%;
}
form > h3 
{
    margin-bottom: 1em;
}
form > div 
{
    display: flex;
    gap: 1em;
    align-items: center;
}
#crearPostBoton 
{
    background-color: #B03052;
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    position: relative;
    bottom: 8px;
    transition: 0.5s;
}
#crearPostBoton:hover 
{
    background-color: #FEE5EA;
    color: #B03052;
    font-weight: bold;
}
#buscar 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin: 1em;
    margin-top: 1em;
}
#ponerRenta, .buscarBC 
{
    display: none;
}
#buscar section, #ponerRenta section 
{
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
}
#ponerRenta input 
{
    margin-top: 0.5em;
    width: 80%;
    border-radius: 5px;
}
#rangoPrecio 
{
    border-top: 1px solid rgb(195, 195, 195);
    padding-top: 1.5em;
    flex-direction: column;
}
#rangoPrecio span 
{
    font-weight: 400;
}
.modalContent
{
    height: 100%;
}
#minmax-range 
{
    margin-top: 1em;
}
.rango 
{
    display: flex;
    justify-content: space-between;
}
#rangoh4
{
    font-weight: bold;
}
#descripcionSection 
{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
}
#descripcionSection textarea 
{
    width: 90%;
    height: 100px;
    margin-bottom: 1em;
}
#descripcionSection h3 
{
    margin-bottom: 0.5em;
}
#ubicacion 
{
    width: 90%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.buttonBC
{
    display: flex;
    justify-content: center;
}
#buscarChanteButton, #rentarChanteButton 
{
    background-color: #B03052;
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: 0.5s;
}
#buscarChanteButton:hover, #rentarChanteButton:hover
{
    transform: scale(1.05);
}
#precio_capacidad  
{
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
}
.buttonBC 
{
    margin-top: 1em;
}
.uploadImages 
{
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}
#buscarChanteButton:disabled, #rentarChanteButton:disabled
{
    background-color: grey;
    opacity: 0.8;
    cursor: not-allowed;
}
.divImagenes 
{
    display: flex;
    gap: 1em;
    font-size: 0.8rem;
}
.divImagenes button 
{
    color:red;
}
form section h3 
{
    margin-bottom: 1em;
}
#houseRules 
{
    margin-top: 1em;
}
#descriptionSpace
{
    margin-top: 1em;
}
.swal2-confirm 
{
    background-color: #B03052;
}