main
{
    margin-left: 1em;
    font-family: 'poppins', sans-serif;
}
h1 
{
    font-size: 1.5rem;
    font-weight: bold;
}
#controls-carousel
{
    border-radius: 20px;
    background-color: black;
    margin-top: 1em;
    width: 100%;
    z-index: 1;
}
.informacion-importante
{
    border-radius: 20px;
    border: 2px solid #B03052;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.2);
}
#information h2 
{
    margin-bottom: 1em;
    font-weight: bold;
}
.content 
{
    display: grid;
    gap: 1em;
    align-items: center;
    grid-template-columns: 50% 40%;
}
span 
{
    color: #B03052;
    font-family: 'coiny', system-ui;
}
#fecha 
{
    margin-top: 0.5em;
    color: grey;
    font-size: 0.8rem;
    text-align: end;
}
.ubicacion 
{
    font-size: 1.4rem;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid rgb(200, 198, 198);
}
.contacto, .contactoUser div
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.contactoUser 
{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.contactoUser img 
{
    width: 50px;
    height: 50px;
}
.contacto h2 
{
    font-weight: bold;
    font-size: 1.5rem;
}
.contacto h3 
{
    font-size: 1.2rem;
}
#reservacion 
{
    display: flex;
    justify-content: space-between;
}

.reservar 
{
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.2);
}
.reservar h2 
{
    color: #B03052;
    font-size: 1.3rem;
    font-family: 'coiny', system-ui;
}
.reservar button 
{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding: 1em;
    background-color: #B03052;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: 80%;
}
.comentarios 
{
    margin-bottom: 1em;
}
.comentarios h3
{
    margin-top: 1.2em;
    font-weight: bold;
    font-size: 1.2rem;
}
.comentarios form 
{
    height: min-content;
    padding: 1em;
    width: 30%;
    border: 1px solid gainsboro;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.2);
}
.comentarios input[type="submit"]
{
    background-color: #B03052;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
    margin-top: 1em;
}
.comentarios input[type="submit"]:disabled
{
    background-color: gray;
    cursor: not-allowed;
}
.comments 
{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.individualComment 
{
    display: flex;
    gap: 1em;
}
.infoComentario 
{
    width: 80%;
    border-radius: 10px;
    padding: 1em;
    background-color: gainsboro;
}
.infoComentario h3 
{
    font-size: 1rem;
    margin: 0.5em;
}
#infofecha 
{
    font-size: 0.7rem;
    text-align: end;
}
.individualComment img 
{
    width: 30px;
    height: 30px;
}
.contenedorComentarios 
{
    margin-top: 1em;
    display: flex;
}
.edicionAutor 
{
    margin-top: 1em;
}
.botonesAutor 
{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
}
.botonesAutor button
{
    color: white;
    width: 40%;
    padding: 1em;
    border-radius: 10px;
    transition: 0.5s;
}
.botonesAutor button:hover 
{
    transform: scale(1.05);
}
#borrarBoton 
{
    background-color: rgb(134, 1, 1);
}
#editarBoton 
{
    background-color: rgb(6, 6, 129);
}
@media(max-width: 700px)
{
    h3  
    {
        font-size: 1rem;
    }
    .contacto h3 
    {
        font-size: 1rem;
    }
    #reservacion
    {
        flex-direction: column;
        gap: 1em;
    }
    .content 
    {
        display: flex;
        flex-direction: column;
    }
    .content section 
    {
        width: 90%;
    }
    .contenedorComentarios 
    {
        flex-direction: column;
    }
    .contenedorComentarios form 
    {
        order: 1;
    }
    .comments 
    {
        margin-top: 1.5em;
        order: 2;
    }
    .contenedorComentarios div, .contenedorComentarios form
    {
        width: 90%;
    }
}