footer 
{
    display: none;
}
#mas 
{
    width: 50;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    transition: 1s;
}
#mas:hover 
{
    transform: scale(1.1);
}
