main 
{
    margin-left: 1em;
}
nav  h1 
{
    font-family: 'coiny', system-ui;
}
h1 
{
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
}
#pp 
{
    margin-right: 1em;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
span 
{
    font-family: 'coiny', system-ui;
    color: #B03052;
}
#equis
{
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    margin-right: 1em;
    top: 15px;
    transition: 0.2s;
}
#equis:hover 
{
    transform: scale(1.2);
}
.titulo 
{
    display: flex;
    align-items: center;
}
.titulo img 
{
    width: 60px;
    height: 60px;
}
.informacion 
{
    width: 100%;
    margin-top: 2em;
}
.list-inside
{
    width: 90%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.list-inside span 
{
    font-weight: lighter;
    margin-right: 0.3em;
}
.list-inside li 
{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
}
.ofertar 
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
}
.ofertar_div 
{
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid gainsboro;
    border-radius: 10px;
    padding: 1.5em;
    margin-right: 2em;
}
.ofertar_div h3 
{
    font-weight: bold;
    font-size: 1.2rem;
}
.ofertar_div p 
{
    font-size: 1.2rem;
}
.ofertar_div button 
{
    background-color: #B03052;
    padding: 1em;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}
.ofertar_div button:hover 
{
    transform: scale(1.01);
}
.ofertas 
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 30%));
    gap: 1em;
    justify-content: space-around;
}
#h5Ofertas
{
    text-align: center;
    color: gray;
}
.ofertaSection
{
    margin-top: 1em;
    margin-bottom: 1em;
}
.ofertaSection > h3 
{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1em;
}
.ofertas h3 
{
    margin-bottom: 1em;
    font-weight: 500;
}
.ofertasDiv
{
    position: relative;
    width: 500px;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    background-color: gainsboro;
}
.ofertasDiv img 
{
    width: 500px;
    height: 300px;
}
#hacerOferta:disabled
{
    background-color: grey;
    cursor: not-allowed;
}
.espacio 
{
    width: min-content;
    border: 1px solid gainsboro;
    padding: 0.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.contenidoModal 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#controls-carousel
{
    height: min-content;
    width:250px;
}
.carouselImagenes
{
    border-radius: 10px;
    width: 250px;
    height: 250px;
}
.tipoEspacio 
{
    display: flex;
    justify-content: space-between;
}
.espacio input[type="checkbox"]
{
    border-radius: 10px;
    border: 1px solid grey;
}
.swal2-confirm
{
    background-color: #B03052;
    color: white;
}
.ofertas button 
{
    margin-top: 1em;
    background-color: #B03052;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5em;
    width: 70%;
}
.edicionAutor {
    margin-top: 1em;
}

.botonesAutor {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
}

.botonesAutor button {
    color: white;
    width: 40%;
    padding: 1em;
    border-radius: 10px;
    transition: 0.5s;
}

.botonesAutor button:hover {
    transform: scale(1.05);
}

#borrarBoton {
    background-color: rgb(134, 1, 1);
}

#editarBoton {
    background-color: rgb(6, 6, 129);
}
.buttonEquis
{
    background-color: black;
}
#buscarChanteButton
{
    background-color: #B03052;
}
#rangoPrecio, #descripcionSection
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#buscarChanteButton:disabled, #rentarChanteButton:disabled
{
    background-color: grey;
    opacity: 0.8;
    cursor: not-allowed;
}
#opciones 
{
    margin-bottom: 1em;
}
.buttonBC
{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
@media(max-width:800px)
{
    .list-inside li
    {
        font-size: 1rem;
    }
    .ofertar 
    {
        gap: 1em;
        flex-direction: column;
    }
    .ofertar h3, .ofertar p
    {
        font-size: 1rem;
    }
    .contenidoModal 
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }
    .tipoEspacio
    {
        gap: 1em;
        align-items: center;
    }
    .espacio 
    {
        width: 80%;
        align-items: center;
    }
}
@media(max-width:750px)
{
    .ofertas 
    {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ofertasDiv
    {
        align-items: center;
        gap: 1em;
        width: 80%;
    }
}