{% extends 'layout.html'%}
{% block title %}
Inicio
{% endblock %}
{% load static %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'post/index.css'%}">
<link rel="stylesheet" href="{% static 'post/buscarRenta.css'%}">
{% endblock %}
{% block main %}
<form action="" id="search">
    <input type="text" placeholder="Busca según ubicación, tipo de habitación o precio">
</form>
<h3><span>¿Estás rentando un espacio?</span></h3>
<br>
<h4>
    Encuentra usuarios que están buscando un nuevo hogar 🏡
</h4>
<section>
    {% for post in buscar_espacio %}
    <div class="post">
        <a href="{% url 'recomendar_espacio' post.id %}">
            <p><b>{{post.autor.user}}</b> está en la busqúeda de: <span>{{post.tipoCasa}}</span></p>
            <p>descripcion: {{post.descripcion}}</p>
            <p>Ubicacion: {{post.ubicacion}}</p>
            <p>Rango de precio: <span>0 - {{post.rangoPrecio}}C$</span></p>
            <button id="recomendar">Recomendar un espacio</button>
            <p id="fecha">{{post.fecha.date}}</p>
        </a>
    </div>
    {% endfor %}
</section>
<a href="{% url 'create_post' %}">
    <img src="{% static 'post/mas.png'%}" alt="" srcset="" id="mas">
</a>
{% endblock %}