{% extends 'layout.html '%}
{% load static %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'post/create.css' %}">
{% endblock %}

{% block main %}
<h2>Agrega tu primera publicación en <span>Busca Chante</span></h2>
<p>Ya sea si estás buscando un espacio o bien si quieres poner en renta 😎</p>
<p>Otros usuarios podrán ver tu publicación así que se específico con lo que buscas o con la habitación, cuarto, casa o
  apartamento que pondrás en renta 🏠</p>
<hr>
<form action="" id="postForm">
  <h3>¿Estás buscando en rentar o poner en renta?</h3>
  <div>
    <select id="opciones"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option>Busco rentar un espacio</option>
      <option>Quiero poner en renta un espacio</option>
    </select>
    <input data-modal-target="static-modal" data-modal-toggle="static-modal" type="submit" value="Continuar"
      id="crearPostBoton">
    <!-- MODAL -->
    <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
              <span>
                Busca Chante
              </span>
            </h3>
            <button type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="static-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modalContent p-4 md:p-5 space-y-4">
            <div class="ponerRenta" id="ponerRenta">
              <section>
                <h3>Selecciona que tipo de espacio pondrás en renta:</h3>
                <select id="opciones"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option>Casa Completa</option>
                  <option>Apartamento Completo</option>
                  <option>Habitación Privada</option>
                  <option>Habitación Compartida</option>
                  <option>Casa Compartida</option>
                  <option>Apartamento Compartido</option>
                </select>
              </section>
              <hr>
              <section id="precio_capacidad">
                <div>
                  <h3>Escoge el precio que tendrá la mensualidad (en C$)</h3>
                  <input type="number" id="rentarPrecio" class="rentarInfo">
                </div>
                <div>
                  <h3>Ingresa el número de personas que puede alojar:</h3>
                  <input type="number" id="rentarCantidad" class="rentarInfo">
                </div>
              </section>
              <hr>
              <section id="descripcionSection">
                <h3>¿En donde se encuentra ubicado el espacio?</h3>
                <input type="text" name="ubicacion" id="rentarUbicacion" class="rentarInfo" placeholder="Escribe una dirección exacta">
                <h3>
                  Describe como es el espacio:
                </h3>
                <textarea name="descripcion" id="rentarDescripcion" class="rentarInfo" placeholder="Descripcion"></textarea>
                <h3><span>Reglas de la casa:</span> escribe las reglas que debe seguir la persona que rentará tu
                  espacio:</h3>
                <input type="text" name="reglas" id="rentarReglas" class="rentarInfo" placeholder="Ejemplo: nada de mascotas">
              </section>
              <hr>
              <section class="uploadImages">
                <h3><span>Agrega imágenes del espacio</span></h3>
                <h5>Asegúrate que tengan buena calidad 📸</h5>
                <div class="archivos">

                </div>
                <input
                  class="rentarInfo block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                  id="multiple_files" type="file" multiple accept=".png, .jpg, .jpeg">
              </section>
              <div class="buttonBC">
                <button id="rentarChanteButton" data-modal-hide="static-modal" disabled>Rentar Chante</button>
              </div>
            </div>
            <div class="buscar" id="buscar">
              <section>
                <h3>Selecciona que tipo de espacio buscas:</h3>
                <select id="opciones"
                  class="buscarInfo bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option>Casa Completa</option>
                  <option>Apartamento Completo</option>
                  <option>Habitación Privada</option>
                  <option>Habitación Compartida</option>
                  <option>Casa Compartida</option>
                  <option>Apartamento Compartido</option>
                </select>
              </section>
              <section id="rangoPrecio">
                <h3>Escoge el rango de precio según tu presupesto mensual (C$)</h3>
                <input id="minmax-range" type="range" min="0" max="50000" step="100" value="0"
                  class="buscarInfo w-full h-4 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
                <div class="rango">
                  <span>C$0</span>
                  <span>C$50,000</span>
                </div>
                <h4>Rango de precio: <span id="rangoh4">C$0</span></h4>
              </section>
              <section id="descripcionSection">
                <h3>¿En donde te gustaría que este ubicado el espacio?</h3>
                <input class="buscarInfo" type="text" name="ubicacion" id="ubicacion" placeholder="Ejemplo: Cerca de la uni rupap">
                <h3>
                  Deja una pequeña descripción de lo que buscas 🦔
                </h3>
                <textarea class="buscarInfo" name="descripcion" id="descripcion" placeholder="Descripcion"></textarea>
              </section>
              <div class="buttonBC">
                <button id="buscarChanteButton" data-modal-hide="static-modal" disabled>Buscar Chante</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block script %}
<script src="{% static 'post/create.js'%}"></script>
{% endblock %}