{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{% static 'authentication/logo_BC.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'authentication/auth.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    {% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'post/style.css' %}">
    {% endif %}
    {% block style %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <nav>
        <a id="logo-link" href="{% url 'index'%}">
            <div>
                <img id="logo" src="{% static 'authentication/logo_BC.png'%}" alt="">
                <h1>Busca Chante</h1>
            </div>
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'buscar_espacio'%}" id="linkBusqueda">Búsqueda de renta 🕵️</a>
        {% endif %}
        <div class="nav-div">
            <img id="menu-logo" src="{% static 'authentication/menu.png'%}" alt="">
            {% if not user.is_authenticated%}
            <img id="user" src="{% static 'authentication/avatar-de-hombre.png'%}" alt="">
            {% elif not profile_pic %}
            <div
                class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <span class="font-medium text-gray-600 dark:text-gray-300">{{user.first_name|slice:":1"}}{{user.last_name|slice:":1"}}</span>
            </div>
            {% else %}
            <img id="user" class="userPicture" src="{{profile_pic.url}}" alt="">
            {% endif %}
        </div>
        <div class="popUp">
            <div>
                {% if not user.is_authenticated %}
                <a href="{% url 'register'%}">
                    Registrate
                </a>
                <a href="{% url 'login'%}">
                    Inicia Sesión
                </a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'create_post'%}">
                    Subir post
                </a>
                <a href="{% url 'userProfile' %}">
                    Cuenta
                </a>
                <a href="">
                    Calendario
                </a>
                <a href="{% url 'misGuardados'%}">
                    Mis guardados
                </a>
                <form action="{% url 'logOut' %}" method="post">
                    <input type="submit" value="Cerrar Sesión">
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <h5>© 2024 Busca Chante, inc.</h5>
        <h4>Elaborado por Elo Moca</h4>
        <div class="socials">
            <img src="{% static 'authentication/github.png'%}" alt="">
            <img src="{% static 'authentication/gmail.png'%}" alt="">
            <img src="{% static 'authentication/logotipo-de-instagram.png'%}" alt="">
            <img src="{% static 'authentication/logotipo-de-linkedin.png'%}" alt="">
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'authentication/auth.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    {% block script %}
    {% endblock %}
</body>

</html>